
<div class="container" >
<app-side-bar></app-side-bar>
<div class="main">   
    <button (click)="logOut()">Sign out</button>
    <ngb-progressbar type="success" class="mt-5" [value]="getPageProgress()"></ngb-progressbar>
    <app-accept-condition *ngIf="!nextPage" (nextPage)="nextPage = 1"></app-accept-condition>    
    <app-personal-information *ngIf="nextPage==1" (nextPage)="nextPage = 2"></app-personal-information>
    <app-file *ngIf="nextPage==2" (nextPage)="nextPage=3"></app-file>    
    <app-success-page *ngIf="nextPage==3"></app-success-page>
    <br>
    <button (click)="PreviousPage()">Previous</button><button *ngIf="nextPage!=3" (click)="NextPage()">Next</button>
</div>
</div>

