<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./admin">Admin
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./GG">UserJourney </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./service">Services</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./contact">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>