<ng-template #popupTemplate>
    <app-error-messg [title]="popupTitle" [message]="popupMessage"></app-error-messg>
  </ng-template>
                                                                                                                                                                                                    <!-- video/*,image/*,text/plain/.pdf/documents      -->
<div>
    <label class="btn">
      Browser File
      <input accept="*" type="file" multiple="multiple" style="display: none;" #fileInput (change)="processFileSelection(fileInput.files)">          
    </label>
</div>
