.sidenav {
    height: 100vh;
    width: 30rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6356db;
    overflow-x: hidden;
    color:#ffffff;
    font-size: 2rem;
    padding: 1rem;
  }
  