<div class="mt-5 mb-5">
    <label class="btn btn-primary">
      Browser Filed
      <input accept=".pdf" type="file" multiple="multiple" style="display: none;"
             #fileInput (change)="processFileSelection(fileInput.files)">                <!-- <input accept="video/*,image/*,text/plain" -->
    </label>


    
<ng-template #errorPopup let-modal>
	<div class="modal-header">
		<h4 class="modal-title" *ngIf="!delete">Sorry</h4>
    <h4 class="modal-title" *ngIf="delete">Confirm</h4>
	</div>
	<div class="modal-body">
		<p *ngIf="errorType == 'numError'">Sorry, you can only attach 5 documents.</p>
    <p *ngIf="errorType == 'sizeError'">Sorry, you cannot attach files greater than 5MB.</p>
    <p *ngIf="errorType=='deleteFile'">Are you sure you want to delete this resource?</p>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="delete" (click)="deleteAttachment();modal.close('Close click')">Delete Resource</button>
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
