<div class="container" >
    <app-side-bar></app-side-bar>
    <div class="main">   
        <button (click)="logOut()">Sign out</button>
        <ngb-progressbar type="success" class="mt-5" [value]="(currentPage.pageNo - 1) / (Page.length-1) * 100"></ngb-progressbar>
       
            <ng-template [ngComponentOutlet]="currentPage.Component"></ng-template>    

        <br>

        <button *ngIf="currentPage.pageNo > 1" (click)="currentPage.pageNo = currentPage.pageNo - 1">Previous</button>
        <button *ngIf="currentPage.pageNo < Page.length" (click)="currentPage.pageNo = currentPage.pageNo + 1">Next</button>
    </div>
</div>

  